header {
    font-size: 40px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../Images/pattern.jpeg");
}

.heading {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
    padding: 3px 0 3px 2px;
}

.blue {
    font-weight: bold;
    color:blue;
}

body {
    font-family: Helvetica;
}

.coral {
    background-color: lightcoral;
}